.main-product-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.product-pics{
    width: 500px;
    height: 500px;
}

.margin-top{
    margin-top: 10px;
}

.product-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
}

.product-cond-and-stock{
    display: grid;
    grid-template-columns: 100px 150px 130px;
    margin-top: 20px;
    gap: 15px;
}

.row-label{
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: right;
    color: #636363;
}

.detail-product-condition{
    grid-column-start: 2;
    grid-column-end: 2;
}

.detail-product-discount-price-label{
    grid-row-start: 2;
    grid-row-end: 2;
}

.detail-product-discount-price{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.detail-product-old-price-label{
    grid-row-start: 3;
    grid-row-end: 3;
}

.detail-product-old-price-container{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.detail-product-stock-label{
    grid-row-start: 4;
    grid-row-end: 4;
}

.detail-product-stock{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
}

.detail-product-list-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-product-list-btns img{
    cursor: pointer;
}

.buy-now-btn{
    grid-row-start: 2;
    grid-row-end: 2;
}

.Add-to-cart-btn{
    grid-row-start: 3;
    grid-row-end: 3;
}

.product-detail-btn{
    width: 130px;
    height: 30px;
    background: -moz-linear-gradient(top,#6EBE47,#118706);;
    grid-column-start: 3;
    grid-column-end: 3;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.product-detail-btn:hover{
    background: #118706;
}

.border-bottom-empty-div{
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #9E9E9E;
}

.product-ship-and-descr{
    display: grid;
    grid-template-columns: 100px auto;
    margin-top: 20px;
    gap: 15px;
}

.detail-product-delivery{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.detail-product-payment{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.detail-product-descr{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.item-specs-main-container{
    margin-top: 60px;
}

.item-specs-header{
    margin-bottom: 20px;
}

.item-specs{
    display: grid;
    grid-template-columns: 100px 200px;
    gap: 10px;
}

.specs-and-related-items-container{
    display: flex;
    flex-direction: row;
}

.related-items-container{
    float: right;
    width: 80%;
    margin-left: 50px;
}

.realated-items-title{
    margin-bottom: 20px;
}

.detail-product-old-price{
    text-decoration: line-through;
}

.detail-product-quantity-label{
    grid-row-start: 6;
    grid-row-end: 6;
}

.detail-product-quantity{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
}

@media (max-width: 500px){
    .product-cond-and-stock{
        grid-template-columns: 100px auto;
    }

    .buy-now-btn{
        grid-row-start: 7;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
    }

    .Add-to-cart-btn{
        grid-row-start: 8;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
    }

    .detail-product-list-btns{
        grid-row-start: 9;
        grid-row-end: 9;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .related-items-container{
        margin: auto !important;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .product-cond-and-stock{
        grid-template-columns: 100px 130px 130px;
    }

    .label{
       font-size: 0.9rem !important;
    }

    .main-product-container{
        flex-direction: column;
    }

    .product-pics{
        width: 300px;
        height: 300px;
    }

    .product-info-container{
        margin-top: 30px;
    }

    .detail-product-name{
        text-align: center;
    }

    .product-pics{
        margin: auto !important;
    }

    .product-ship-and-descr{
        width: 100%;
    }
}

@media (max-width: 992px) {
    .specs-and-related-items-container{
        flex-direction: column;
    }
    .related-items-container{
        margin: 0;
    }
    .realated-items-title{
        margin-top: 40px;
    }
}
