.filter-and-products-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.filter-container{
    width: 205px;
    border-right: 1px solid #9E9E9E;
}

.filter-tiltle{
    margin: 20px 0 20px 0;
}

.filter-option{
    margin-bottom: 10px;
}

.filter-option input{
    width: 150px;
}

.filter-name{
    margin-bottom: 5px;
}

.mobile-filer-btn{
    display: none;
    border: none;
    background-color: #118706;
    color: white;
    border-radius: 10px;
    padding: 10px 5% 10px 5%;
    cursor: pointer;
    width: 150px;
    margin-right: 20%;
}

.filter-btn{
    
    border: none;
    background-color: #118706;
    color: white;
    border-radius: 10px;
    padding: 10px 5% 10px 5%;
    cursor: pointer;
    width: 150px;
    margin-top: 20px;
}

.filter-mobile-btn{
    border: none;
    background-color: white;
    color: #118706;
    border-radius: 10px;
    padding: 10px 5% 10px 5%;
    cursor: pointer;
    width: 150px;
    margin: 20px 8px 8px 32px;

}

.empty-msg{
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    font-weight: 200;
}

.filter-input{
    padding: 3px;
}

@media (max-width: 500px) {

    .sub-categ-title{
        display: none;
    }
}

@media (max-width: 768px) {
    .filter-container{
        display: none;
    }
    .mobile-filer-btn{
        display: inline-block;
    }
}